<blockquote class="blockquote text-center">
    <h3 class="mb-0"><a style="text-decoration: underline" href="/profile/{{userId.id}}">{{userId.username}}</a></h3>
    <p class="mb-0">{{body}}</p>
    {{#if rates}}
            {{rateAvg}}
        {{else}}
            Sin puntuar
        {{/if}}
    <footer class="blockquote-footer">{{created_at}}</footer>
</blockquote>
