<blockquote class="blockquote">
    {{#if joke.userId.username}}
    <div>
    <img id="imglist" src="{{joke.userId.image}}">
    <h3 class="mb-0"><a style="text-decoration: underline" href="/profile/{{joke.userId.id}}">{{{joke.userId.username}}}</a></h3>
    <p class="mb-0">{{joke.created_at}}</p>
    </div>
    {{/if}}
    <p class="mb-0">{{{joke.body}}}</p>
    <p class="mb-0">
        {{#if joke.rates}}
            <p style="text-align:center">{{joke.rateAvg}}</p>
        {{else}}
           <p style="text-align:center">Sin puntuar</p> 
        {{/if}}
        {{#if joke.isRated}}
           <p style="text-align:center">{{joke.isRated}}</p> 
        {{else}}
            {{#unless joke.isOwner}}
                {{#if user}}
                    <form action="/rate/{{joke.id}}" method="POST">
                        <input type="number" name="rate" value="1" min="1" max="5">
                        <button type="submit">Rate it</button>
                    </form>
                {{/if}}
            {{/unless}}
        {{/if}}
        {{#if joke.isOwner}}
        <br>
            <a href="/jokes/edit/{{joke._id}}">Edit</a>
            -
            <a href="/jokes/delete/{{joke._id}}">Delete</a>
        {{/if}}
    </p>
</blockquote>