<blockquote class="blockquote">
    {{#if joke.userId.username}}
    <div>
        <img id="imglist" src="{{joke.userId.image}}">
        <h3 class="mb-0"><a class="usersFont" href="/profile/{{joke.userId.id}}">{{{joke.userId.username}}}</a></h3>
        -
        <p class="mb-0">{{formatDate joke.created_at}}</p>
    </div>
    <hr>
    {{/if}}
    <p class="ml">"{{{joke.body}}}"</p>
    <div class="row scores">
        {{#if joke.rates}}
        <div class="col-md-4"><span> Avg. score: <b class="rateAvg">{{joke.rateAvg}}</b></span></div>
        {{else}}
        <div class="col-md-4"><span>Avg. score: <b class="rateAvg"><i>Not scored</i></b></span></div>
        {{/if}}
        {{#if user}}
        {{#unless joke.isOwner}}
        <div class="col-md-3">
            <span>Your score: <b class="rate">{{joke.isRated}}</b>
                <div class="rateStars" data-rate="{{joke.isRated}}" data-joke-id="{{joke.id}}"></div>
            </span>
        </div>
    

    {{/unless}}
    {{/if}}
    {{#if joke.isOwner}}
    <div class="col-md-12 mt-2">
        <a class="btn btn-primary btn-sm" href="/jokes/edit/{{joke._id}}">Edit</a>
        -
        <a class="btn btn-primary btn-sm" href="/jokes/delete/{{joke._id}}">Delete</a>
    </div>
    {{/if}}
    </div>
</blockquote>