<blockquote class="blockquote text-center">
    {{#if joke.userId.id}}
    <h3 class="mb-0"><a style="text-decoration: underline" href="/profile/{{joke.userId.id}}">{{joke.userId.username}}</a></h3>
    {{/if}}
    <p class="mb-0">{{joke.body}}</p>
    <p class="mb-0">
        {{#if joke.rates}}
            {{joke.rateAvg}}
        {{else}}
            Sin puntuar
        {{/if}}
        {{#if joke.isRated}}
            {{joke.isRated}}
        {{else}}
            {{#unless joke.isOwner}}
                {{#if user}}
                    <form action="/rate/{{joke.id}}" method="POST">
                        <input type="number" name="rate" value="1" min="1" max="5">
                        <button type="submit">Rate it</button>
                    </form>
                {{/if}}
            {{/unless}}
        {{/if}}
        {{#if joke.isOwner}}
            <a href="/jokes/edit/{{joke._id}}">Edit</a>
            -
            <a href="/jokes/delete/{{joke._id}}">Delete</a>
        {{/if}}
    </p>
    <footer class="blockquote-footer">{{joke.created_at}}</footer>
</blockquote>