<div class="rateStars"></div>
<svg style="display: none;">
  <symbol id="star" viewBox="0 0 98 92">
  <title>star</title>
  <path stroke='#000' stroke-width='5' d='M49 73.5L22.55 87.406l5.05-29.453-21.398-20.86 29.573-4.296L49 6l13.225 26.797 29.573 4.297-21.4 20.86 5.052 29.452z' fill-rule='evenodd'/>
</svg>
<div style="display: inline-block">
  <div id="stars" class="stars">
    <a class="star {{star1}}" href="#"><svg><use xlink:href="#star"></use></svg></a>
    <a class="star {{star2}}" href="#"><svg><use xlink:href="#star"></use></svg></a>
    <a class="star {{star3}}" href="#"><svg><use xlink:href="#star"></use></svg></a>
    <a class="star {{star4}}" href="#"><svg><use xlink:href="#star"></use></svg></a>
    <a class="star {{star5}}" href="#"><svg><use xlink:href="#star"></use></svg></a>
  </div>
</div>
{{joke.isRated}}
