<div class="profile">
<h1 style="display:inline" class="display-5">Chistes de {{us.username}}</h1>
<img id="profileImg" src="{{us.image}}">
</div>
{{#if jokes}}
{{#each jokes}}
<blockquote class="blockquote text-center">
    <p class="mb-0">{{body}}</p>
    <footer class="blockquote-footer">{{created_at}}</footer>
</blockquote>
{{/each}}
{{else}}
<p>Aún no tiene chistes</p>
{{/if}}
  
