{{#if following}}
<p class="nav-link">{{user.username}}, you follow {{users.length}} users</p>
{{else}}
<p class="nav-link">{{user.username}}, your have {{users.length}} followers</p>
{{/if}}


{{#each users as |user| }}
<blockquote class="blockquote text-center">
  <h3 class="mb-0"><a class="usersFont" href="/profile/{{user.id}}">{{user.username}}</a></h3>
</blockquote>
{{/each}}


