{{#if following}}
{{user.username}}, sigues a {{users.length}} usuarios
{{else}}
{{user.username}}, te siguen {{users.length}} usuarios
{{/if}}


{{#each users as |user| }}
<blockquote class="blockquote text-center">
  <h3 class="mb-0"><a style="text-decoration: underline" href="/profile/{{user.id}}">{{user.username}}</a></h3>
</blockquote>
{{/each}}


